<ul class="breadcrumb">
  <li class="active">Jobs</li>
</ul>


<table class="zebra-striped">
  <tr>
    <th></th>
    <th>Position</th>
    <th>Company</th>
    <th>Author</th>
    <th>Location</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td>
      <% if post.intern %>
        <span class="label success">Intern</span>
      <% end %>
      <% if post.full_time %> 
        <span class="label warning">Full Time</span>
      <% end %>
      <% if post.remote %> 
        <span class="label important">Remote</span>
      <% end %>
      <% if post.honeb %>
        <span class="label notice">H1B</span>
      <% end %>
    </td>
    <td><%= post.position %></td>
    <td><%= post.company %></td>
    <td><%= link_to post.author, "http://news.ycombinator.com/user?id=#{post.author}" %></td>
    <td><%= post.location %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
<% end %>
</table>

<%= paginate @posts %>
