<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li class="active">Jobs</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <form accept-charset="UTF-8" action="posts" method="get" class="well form-search">
      <label class="checkbox inline">
        <input type="checkbox" name="intern" value="true" <%= params[:intern] == 'true' ? 'CHECKED' : '' %>> Intern
      </label>
      <label class="checkbox inline">
        <input type="checkbox" name="remote" value="true" <%= params[:remote] == 'true' ? 'CHECKED' : '' %>> Remote
      </label>
      <label class="checkbox inline">
        <input type="checkbox" name="honeb" value="true" <%= params[:honeb] == 'true' ? 'CHECKED' : '' %>> H1B
      </label>
      <input type="text" name="positions" class="span3 input-small" placeholder="Positions (comma-delimited)" value="<%= params[:positions] %>">
      <input type="text" name="company" class="span2 input-small" placeholder="Company" value="<%= params[:company] %>">
      <input type="text" name="technologies" class="span3 input-small" placeholder="Technologies (comma-delimited)" value="<%= params[:technologies] %>">
      <input type="text" name="location" class="span2 input-small" placeholder="Location" data-provide="typeahead" value="<%= params[:location] %>">
      <button type="submit" class="btn">Go</button>
  </form>
</div>

<div class="row-fluid">
<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Position</th>
    <th>Company</th>
    <th>Technologies</th>
    <th>Location</th>
    <th>Date Added</th>
  </tr>
</thead>
  <tbody>
<% @posts.each do |post| %>
  <tr onclick="location.href='<%= post_path(post) %>'" style="cursor: pointer">
    <td>
      <% if post.intern %>
        <span class="label label-success">Intern</span>
      <% end %>
      <% if post.remote %> 
        <span class="label label-important">Remote</span>
      <% end %>
      <% if post.honeb %>
        <span class="label label-info">H1B</span>
      <% end %>
    </td>
    <td><%= post.pretty_positions %></td>
    <td><%= post.company %></td>
    <td><%= post.pretty_technologies %></td>
    <td><%= post.location %></td>
    <td><%= post.pretty_created %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= paginate @posts %>
</div>
