<div class="row-fluid">
<ul class="breadcrumb">
  <li class="active">Jobs</li>
</ul>

<table class="table table-striped table-bordered">
  <tr>
    <th></th>
    <th>Position</th>
    <th>Company</th>
    <th>Technologies</th>
    <th>Location</th>
    <th>Date Added</th>
  </tr>

<% @posts.each do |post| %>
  <tr onclick="location.href='<%= post_path(post) %>'">
    <td>
      <% if post.intern %>
        <span class="label label-success">Intern</span>
      <% end %>
      <% if post.remote %> 
        <span class="label label-important">Remote</span>
      <% end %>
      <% if post.honeb %>
        <span class="label label-info">H1B</span>
      <% end %>
    </td>
    <td><%= post.pretty_positions %></td>
    <td><%= post.company %></td>
    <td><%= post.pretty_technologies %></td>
    <td><%= post.location %></td>
    <td><%= post.pretty_created %></td>
  </tr>
<% end %>
</table>

<%= paginate @posts %>
</div>
