<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @post.company %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Location:</b>
  <%= @post.location %>
</p>

<p>
  <b>Intern:</b>
  <%= @post.intern %>
</p>

<p>
  <b>Remote:</b>
  <%= @post.remote %>
</p>

<p>
  <b>Full time:</b>
  <%= @post.full_time %>
</p>

<p>
  <b>Latitude:</b>
  <%= @post.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @post.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @post.gmaps %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
