<ul class="breadcrumb">
  <li><%= link_to "Jobs", posts_path %><span class="divider">/</span></li>
  <li class="active"><%= "#{@post.position} at #{@post.company}" %></li>
</ul>

<% if !notice.blank? %>
<div id="notice" class="alert-message info">
  <a class="close" href="#">x</a>
  <p><strong>Something happened!</strong> <%= notice %></p>
</div>
<% end %>

<h1><%= @post.position %> at <%= @post.company %></h1>

<div class="row">
  <div class="span11"> 
    
<p>
<% if @post.intern %>
  <span class="label success">Intern</span>
<% end %>
<% if @post.remote %> 
  <span class="label important">Remote</span>
<% end %>
<% if @post.honeb %>
  <span class="label notice">H1B</span>
<% end %>
</p>
    <p>
      <b>Position:</b>
      <%= @post.position %>
    </p>
    <p>
      <b>Company:</b>
      <%= @post.company %>
    </p>
    <p>
      <b>Technologies:</b>
      <%= @post.technologies.join(', ') %>
    </p>
    <p>
      <b>Location:</b>
      <%= @post.location %>
    </p>
    <p>
      <b>User:</b>
      <%= link_to @post.author, "http://news.ycombinator.com/user?id=#{@post.author}" %>
    </p>
    <p>
      <b>Original Post:</b>
      <br/>
      <%= raw @post.content %>
    </p>
    <p>
      <b>Contact(s):</b>
      <ul>
      <% @post.emails.each do |email| %>
        <li><%= email %></li>
      <% end %> 
      </ul>  
    </p>
    <p>
      <b>Website(s):</b>
      <ul>
        <% @post.urls.each do |url| %>
          <li><%= link_to url, url %></li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="span5">
    <%= gmaps4rails(@json) 
  %>
  </div>
</div>
